.Rproj.user
.Rhistory
.RData
.Ruserdata
00_Data/Spatial data/Australia/STE_2021_AUST_GDA2020.dbf
00_Data/Spatial data/Australia/STE_2021_AUST_GDA2020.prj
00_Data/Spatial data/Australia/STE_2021_AUST_GDA2020.shp
00_Data/Spatial data/Australia/STE_2021_AUST_GDA2020.shx
00_Data/Spatial data/Australia/STE_2021_AUST_GDA2020.xml
